---
---

@import 'bootstrap';


// Colors

$ljl_grey-01: #F7F7F7;
$ljl_grey-02: #f8f8f8;
$ljl_grey-02a: #ececec;
$ljl_grey-03: #b4b4b4;
$ljl_grey-04: #989898;
$ljl_grey-05: #555;



// =========== Elements ===========


body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}
h1 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  font-size: 2rem;
}
h2 {
  font-size: 2.75rem;
  font-weight: 300;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 1rem;
}


body {
  background: $ljl_grey-02;
  position: relative; // For scrollspy

}
h2 {
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255, 255, 255,1)), url('/img/dot.svg') repeat-x;
  padding-top: 30px;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

li {
  margin-top: 0.5em;
}



// =========== Custom ===========


.body-inner {
  background: white;
}

// Navbar

$ljl_nav-height: 50px;

.ljl_content,
.ljl_footer {
  position: relative;
  z-index: 0;
}

.ljl_nav-background {
  height: $ljl_nav-height;
  background: $ljl_grey-01;
  border-bottom: 2px solid $ljl_grey-02a;
  @extend .sticky-top;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

  img {
    height: 100%;
    margin-left: 4px;
    margin-right: 4px;
  }
}

.ljl_header {
  // Need to make sure header covers .ljl_nav-background before scrolling
  margin-top: -$ljl_nav-height;
  position: relative;
  z-index: 2;
  // Also want header to extend underneath .ljl_nav
  padding-bottom: 2 * $ljl_nav-height;
}

.ljl_nav {
  @extend .navbar;
  @extend .navbar-toggleable-sm;
  @extend .navbar-light;
  @extend .sticky-top;
  padding: 0;
  height: $ljl_nav-height;
  margin-top: -2 * $ljl_nav-height;
  z-index: 3;
  margin-left:  1.5*$ljl_nav-height; // expose logo

  .navbar-nav {
    // be symmetrical with above margin-left setting, but do it here so that
    // hamburger menu is right aligned
    margin-right: 1.5*$ljl_nav-height;
  }

  @include media-breakpoint-down(sm) {
    .navbar-nav {
      background: $ljl_grey-01;
      border-radius: 8px;
      //padding: $ljl_nav-height 0 0.75rem 0;
      padding: 0.75rem 0;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    }
  }

  .nav-item {
    margin-top: 0;
  }

  .nav-link {
    padding: 0.25rem 1rem;
    margin: 0 0.5rem;
    color: $ljl_grey-04;
    &.active {
      background: white;
      color: black;
    }
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  // hamburger menu
  $navbar-togger-margin: 5px;
  .navbar-toggler {
    height: $ljl_nav-height - (2 * $navbar-togger-margin);
    margin: $navbar-togger-margin 0;
  }
}

.ljl_anchor {
  height: 1rem;
  margin-bottom: -1rem;
  display: block;
}



// Header

.ljl_header {

  background: url('/img/big-circle-top.svg') no-repeat center top,
              linear-gradient(to top, rgba(255, 255, 255, 0), white 4*$ljl_nav-height, white);
  background-size: 100% auto;
  > .ljl_spacer {
    box-sizing: border-box;
    position: relative;
    width: 2%;
    padding: 2%;
  }

  @extend .text-center;

  .ljl_tagline {
    font-family: 'Courgette', cursive;
    font-size: 1.3rem;
    padding-top: 0.4rem;
  }

  .ljl_email {
    padding: 5px;
    border-radius: 5px;
    color: $ljl_grey-05;

    &:hover {
      background-color: $ljl_grey-01;
      color: $ljl_grey-05;
      text-decoration: none;
    }
  }

}




// grid-sm

.ljl_grid-sm {

  @extend .row;
  @extend .justify-content-center;

  .ljl_item {
    @extend .col-lg-5;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &-inner {
      @extend .row;
      @extend .align-items-center;
    }

    .ljl_graphic {
      @extend .hidden-xs-down;
      @extend .col-lg-12;
      @extend .col-2;

      img {
        @extend .mx-auto;
        @extend .d-block;
        margin-top: 5px;
        margin-bottom: 15px;
      }
    }

    .ljl_content {
      @extend .col-lg-12;
      @extend .col;
    }
  }
}



// grid-lg

.ljl_grid-lg {

  @include make-row();
  @extend .align-items-center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .ljl_graphic {
    @extend .col-sm-3;
    img {
      @extend .mx-auto;
      @extend .d-block;
      @include img-fluid();
      width: 150px;
      margin: 10px;
    }
  }

  .ljl_content {
    @extend .col;
  }

}


// People

.ljl_people .ljl_graphic img {
  border-radius: 50%;
  border: solid $ljl_grey-04 3px;
}


// Footer

.ljl_footer {

  .ljl_footer-image {
    margin-top: 2rem;
    background: url('/img/big-circle-bottom.svg') no-repeat center bottom;
    background-size: 100% auto;
    > .ljl_spacer {
      box-sizing: border-box;
      position: relative;
      width: 6%;
      padding: 6%;
    }
  }

  .ljl_footer-content {
    background: $ljl_grey-02;
    padding: 3rem 0;
  }

  .content {
    @extend .text-center;
    color: $ljl_grey-03;
    //padding-top: 3rem;
  }

}


