---
---

@import 'bootstrap';

// =========== Elements ===========

body {
  background: #f8f8f8;
}

h1 { font-size: 2rem;}
h2 { font-size: 1.75rem;}
h3 { font-size: 1.25rem;}
h4 { font-size: 1rem;}
h5 { font-size: 1rem;}
h6 { font-size: 1rem;}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
}

h2 {
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255, 255, 255,1)), url('/img/dot.svg') repeat-x;
  padding-top: 30px;
  margin-top: 4rem;
}

li {
  margin-top: 0.5em;
}


// =========== Custom ===========

// Big circle

.ljl-big-circle {
  background: url('/img/big-circle-top.svg') no-repeat center top, url('/img/big-circle-bottom.svg') no-repeat center bottom, white;
  background-size: 100% auto, 100% auto;
}

.ljl-big-circle > .ljl-spacer-top,
.ljl-big-circle > .ljl-spacer-bottom {
  box-sizing: border-box;
  position: relative;
}

.ljl-big-circle > .ljl-spacer-top {
  width: 3%;
  padding: 3%;
}

.ljl-big-circle > .ljl-spacer-bottom {
  width: 15%;
  padding: 15%;
}

// Header

.ljl-header {
  @extend .text-center;
}

.ljl-tagline {
  font-family: 'Courgette', cursive;
  font-size: 18px;
}

.ljl-email {
  padding: 5px;
  border-radius: 5px;
  color: #555;
}

.ljl-email:hover {
  background-color: #F7F7F7;
  color: #555;
  text-decoration: none;
}

// Person

.ljl-person {
  @include make-row();
  @extend .align-items-center;
}

.ljl-person img {
  width: 150px;
  border-radius: 50%;
  border: solid #989898 3px;
  margin: 10px;
}