---
---

@import 'bootstrap';


// =========== Colors ===========

// TODO


// =========== Elements ===========

body {
  background: #f8f8f8;
}

h1 { font-size: 2rem;}
h2 { font-size: 1.75rem;}
h3 { font-size: 1.25rem;}
h4 { font-size: 1rem;}
h5 { font-size: 1rem;}
h6 { font-size: 1rem;}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
}

h2 {
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255, 255, 255,1)), url('/img/dot.svg') repeat-x;
  padding-top: 30px;
  margin-top: 4rem;
}

li {
  margin-top: 0.5em;
}

// =========== Bootstrap overrides ===========




// =========== Custom ===========

// Big circle

.ljl_big-circle {

  background: url('/img/big-circle-top.svg')    no-repeat center top,
              url('/img/big-circle-bottom.svg') no-repeat center bottom,
              white;
  background-size: 100% auto, 100% auto;

  > .ljl_spacer-top,
  > .ljl_spacer-bottom {
    box-sizing: border-box;
    position: relative;
  }

  > .ljl_spacer-top {
    width: 2%;
    padding: 2%;
  }

  > .ljl_spacer-bottom {
    width: 8%;
    padding: 8%;
  }

}



// Header

.ljl_header {
  @extend .text-center;

  margin-top: 20px;

  .ljl_tagline {
    font-family: 'Courgette', cursive;
    font-size: 18px;
  }

  .ljl_email {
    padding: 5px;
    border-radius: 5px;
    color: #555;

    &:hover {
      background-color: #F7F7F7;
      color: #555;
      text-decoration: none;
    }
  }

}

// grid-sm

.ljl_grid-sm {

  @extend .row;
  @extend .justify-content-center;

  .ljl_item {
    @extend .col-lg-5;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &-inner {
      @extend .row;
      @extend .align-items-center;
    }

    .ljl_graphic {
      @extend .hidden-xs-down;
      @extend .col-lg-12;
      @extend .col-2;

      img {
        @extend .mx-auto;
        @extend .d-block;
        margin-top: 5px;
        margin-bottom: 15px;
      }
    }

    .ljl_content {
      @extend .col-lg-12;
      @extend .col;
    }
  }
}



// grid-lg

.ljl_grid-lg {

  @include make-row();
  @extend .align-items-center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .ljl_graphic {
    @extend .col-sm-3;
    img {
      @extend .mx-auto;
      @extend .d-block;
      @include img-fluid();
      width: 150px;
      margin: 10px;
    }
  }

  .ljl_content {
    @extend .col;
  }

}


// People

.ljl_people .ljl_graphic img {
  border-radius: 50%;
  border: solid #989898 3px;
}


// Footer

.ljl_footer {
  @extend .text-center;
  color: #b4b4b4;
  margin-top: 2rem;
  margin-bottom: 4rem;
}


