<div class="ljl-person">

  <div class="col-sm-3">
    <img src="{{ site.path }}/img/sean-madsen.jpg" class="mx-auto d-block img-fluid">
  </div>

  <div class="col">
    <h3>Sean Madsen</h3>
    <p>
      Hi I'm Sean.
      I'm passionate about using software for social justice, which is why I've chosen to make a career out of CiviCRM development.
      I've been using, administering, and customizing CiviCRM since 2008 when I set up CiviCRM for an awesome non-profit in Boston called <a href="https://bikesnotbombs.org">Bikes Not Bombs</a>.
      For seven years I was their do-all IT person and worked heavily with CiviCRM.
      In 2017 I shifted focus to CiviCRM <i>development</i>.
      I'm still learning the ropes but eager to take on more projects.
      When I'm not coding, I enjoy: mountain biking, trail running, open water swimming, rock climbing, and woodworking.
    </p>
  </div>

</div>