<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Left Join Labs">
  <meta name="application-name" content="Left Join Labs">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Courgette|Source+Code+Pro:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{{ site.path }}/js/bootstrap.min.js"></script>
</head>

<body>

<div class="ljl_big-circle">

  <div class="ljl_spacer-top"></div>

  <div class="container">

    <div class="ljl_header">
      <img src="{{ site.path }}/img/leftjoinlabs-logo.svg" class="mx-auto"/>
      <h1>{{ site.title }}</h1>
      <p class="ljl_tagline">{{ site.description }}</p>
      <p><a href="mailto:{{ site.email }}" class="ljl_email">{{ site.email }}</a></p>
    </div>

    <div class="content">
      {{ content }}
    </div>

  </div>

  <div class="ljl_spacer-bottom"></div>

</div>

  <div class="ljl_footer">Footer</div>

</body>
</html>
