<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <title>{{ site.title }} - {{ site.description }}</title>
  <meta content="{{ site.description }}"
    name=description>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="IE=edge" http-equiv=X-UA-Compatible>
  <meta content="Sean Madsen" name=author>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Left Join Labs">
  <meta name="application-name" content="Left Join Labs">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500,700|Courgette|Source+Code+Pro:700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body data-spy="scroll" data-target=".ljl_nav" data-offset="150">

<div class="body-inner">


  <div class="ljl_nav-background sticky">
    <a href="#" title="{{ site.title }}">
      <img src="/img/leftjoinlabs-logo.svg">
    </a>
  </div>


  <div class="ljl_header">
    <div class="ljl_spacer"></div>
    <div class="container">
      <img src="/img/leftjoinlabs-logo.svg" class="mx-auto"/>
      <h1 id="{{ site.title | slugify }}">{{ site.title }}</h1>
      <p class="ljl_tagline">{{ site.description }}</p>
    </div>
  </div>


  <nav class="ljl_nav sticky">
    <button class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <ul class="navbar-nav nav-pills nav-stacked">
        {% assign sections = site.sections | sort: 'weight' %}
        {% for section in sections %}
          <li class="nav-item">
            <a class="nav-link" href="#{{ section.menu | slugify }}">{{ section.menu }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>


  <div class="ljl_main">
    <div class="container">
      <div class="content">
        {% assign sections = site.sections | sort: 'weight' %}
        {% for section in sections %}
          <a id="{{ section.menu | slugify }}" class="ljl_anchor"></a>
          <h2>{{ section.title }}</h2>
          <section>
            {{ section.output }}
          </section>
        {% endfor %}
      </div>
    </div>
  </div>


  <div class="ljl_footer">
    <div class="ljl_footer-image">
      <div class="ljl_spacer"></div>
    </div>
    <div class="ljl_footer-content">
      <div class="container">
        <div class="content">
          © {{ site.title }}, {{ 'now' | date: "%Y" }}
        </div>
      </div>
    </div>
  </div>


</div>

{% include footer-scripts.html %}

</body>
</html>
